.workflow-direction-detail {
    .ant-table-body {
        height: 300px !important;
        .ant-table-cell-ellipsis{
            height: 70px!important;
        }
    }
    .fr-box.fr-basic{
        width: 100% !important;
    }
}

